[Unit]
Description=1GATE/TTN Packet Forwarder
After=network.target

[Service]
TimeoutStartSec=infinity
Type=simple
TimeoutSec=infinity
WorkingDirectory=/opt/ttn/bin/
ExecStart=/opt/ttn/bin/start.sh
SyslogIdentifier=1GATE/TTN Packet Forwarder
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
