[Unit]
Description=1GATE/Loriot Packet Forwarder
After=network.target

[Service]
WorkingDirectory=/opt/loriot/bin/
ExecStart=/opt/loriot/bin/start.sh
SyslogIdentifier=1GATE/Loriot Packet Forwarder
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
