[Unit]
Description=1GATE/Semtech Packet Forwarder
After=network.target

[Service]
WorkingDirectory=/opt/semtech/bin/
ExecStart=/opt/semtech/bin/start.sh
SyslogIdentifier=1GATE/Semtech Packet Forwarder
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
